@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #292b36;
}

.draggable-list-box {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 2px 4px rgba(6, 31, 48, 0.16);
  width: 100%;
  max-width: 568px;
}

.dragging-item-bg {
  background: #f4f5f6;
}

.location-text {
  color: #a8a9ae;
}

.drop-boundry-dragover-bg {
  background: #1e9bf0;
}

.drag-image-box {
  background: white;
  box-shadow: 0 8px 16px rgba(6, 31, 48, 0.08);
  min-width: 288px;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
